*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.brand-color{
    color: rgba(235,179,210,255);
}

.shadow-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* nav */

nav img{
    height: 8rem;
    width: 8rem;
    color: wheat;
}

.navbar-brand{
    font-size: 1.7rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}

.navbar-toggler{
    padding: 5px 10px;
    font-size: 1rem;
}

.nav-link{
    font-size: 1.8rem;
    font-weight: bold;
}

/* header */

header{
    font-size: 2rem;
}

.carousel-item{
    position: relative;
    top: 0px;
    height: 400px;
    background-position:top;
    background-size:cover;
    z-index: 0;
}

.carousel-img-one{
    background-image: url('../img/carousel-first-640.jpg');
}

.carousel-img-two{
    background-image: url('../img/carousel-second-640.jpg');
}

.carousel-img-three{
    background-image: url('../img/carousel-third-640.jpg');
}

/* home */

.home-boxes{
    padding: 5em 0;
}

.home-boxes i{
    font-size: 6rem;
}

.home-boxes h3{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.8rem;
    font-weight: bold;
}

/* ------ */

.home-section{
    position: relative;
    height: 500px;
    background-image: url('../img/bg-640.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

/* ------ */

.home-history{
    background-color: rgba(255,255,251,255);
}

.home-history .brand-name{
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    letter-spacing: 5px;
}

.home-history img{
    height: 100%;
    width: 70%;
}

.home-history h3{
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: bold;
}

/* footer */

footer{
    font-size: 1.6rem;
}

/* media RWD */ 


@media (min-width: 400px){

    nav img{
        height: 10rem;
        width: 10rem;
    }
    .navbar-brand{
        font-size: 2.3rem;
    }
    .navbar-toggler{
        font-size: 1.5rem;
    }
}

@media (min-width: 550px){
    nav img{
        height: 13rem;
        width: 13rem;
    }
    .navbar-brand{
        font-size: 3.3rem;
    }
    .navbar-toggler{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
}

@media (min-width: 700px){
    nav img{
        height: 16rem;
        width: 16rem;
    }
    .navbar-brand{
        font-size: 3rem;
    }
    .navbar-toggler{
        font-size: 2rem;
    }

    .carousel-item{
        height: 600px;
    }
}

@media (min-width: 850px){
    nav img{
        height: 20rem;
        width: 20rem;
    }
    .navbar-brand{
        font-size: 4rem;
    }
    .navbar-toggler{
        font-size: 3rem;
    }
}

@media (min-width: 992px){
    .nav-link{
        font-size: 1.3rem;
    }
}

@media (min-width: 1100px){
    .carousel-item{
        height: 800px;
    }
}

@media (min-width: 1200px){
    .nav-link{
        font-size: 2rem;
    }
    .home-history h3{
        font-size: 4rem;
    }
    footer{
        font-size: 2.2rem;
    }
}

@media(min-width: 1400px){
    
    nav img{
        height: 20rem;
        width: 20rem;
    }
    .navbar-brand{
        font-size: 5.5rem;
    }
    .nav-link{
        font-size: 2.2rem;
    }

    .carousel-item{
        height: 900px;
    }
    .carousel-img-one{
        background-image: url('../img/carousel-first-1920.jpg');
    }
    
    .carousel-img-two{
        background-image: url('../img/carousel-second-1920.jpg');
    }
    
    .carousel-img-three{
        background-image: url('../img/carousel-third-1920.jpg');
    }

    .home-section{
        height: 600px;
        background-image: url('../img/bg-1920.jpg');
    }
}