* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
}

.brand-color {
	color: rgba(235, 179, 210, 255);
}

.brand-text {
	margin-left: 20px;
	font-family: "Permanent Marker", cursive;
	font-weight: bold;
	text-shadow: 0 0 10px black;
}

.shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}

.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 0 5px 10px black;
}

/* nav */

nav img {
	height: 7rem;
	width: 7rem;
	color: wheat;
}

.navbar-brand {
	font-size: 1.7rem;
	font-family: "Permanent Marker", cursive;
	font-weight: bold;
	text-shadow: 0 0 10px black;
}

.navbar-toggler {
	padding: 5px 10px;
	font-size: 1rem;
}

.nav-link {
	font-size: 1.8rem;
	font-weight: bold;
}

/* header */

header {
	font-size: 2rem;
}

.carousel-item {
	position: relative;
	top: 0px;
	height: 400px;
	background-position: top;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url("../img/carousel-first-640.jpg");
}

.carousel-img-two {
	background-image: url("../img/carousel-second-640.jpg");
}

.carousel-img-three {
	background-image: url("../img/carousel-third-640.jpg");
}

/* home */

.home-boxes {
	padding: 5em 0;
}

.home-boxes i {
	font-size: 6rem;
}

.home-boxes h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2.8rem;
	font-weight: bold;
}

/* ------ */

.home-section {
	position: relative;
	height: 500px;
	background-image: url("../img/bg-640.jpg");
	background-position: center;
	background-size: cover;
	z-index: 0;
}

/* ------ */

.home-history {
	background-color: rgba(255, 255, 251, 255);
}

.home-history .brand-name {
	font-family: "Permanent Marker", cursive;
	font-size: 5rem;
	letter-spacing: 5px;
}

.home-history img {
	height: 100%;
	width: 70%;
}

.home-history h3 {
	margin-bottom: 5rem;
	font-size: 3rem;
	font-weight: bold;
}

/* aboutus */

.aboutus-brand-logo {
	height: 30%;
	width: 30%;
}

.aboutus-top .brand-text {
	font-size: 1.7rem;
}

.aboutus-top-text {
	font-size: 1.3rem;
}

.aboutus-hero {
	background-image: url("../img/aboutus/aboutus-hero.jpg");
	background-position: center;
}

/* ------ */

.aboutus-info {
	background-color: rgb(226, 226, 226);
}
.aboutus-info .container {
	padding: 2em 0.5em;
}
.aboutus-text {
	margin-top: 10px;
	font-size: 1.2em;
}
.aboutus-text h3 {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}
.aboutus-text-right {
	text-align: right;
}
.aboutus-img {
	height: 350px;
	object-fit: scale-down;
}

/* ------ */

.aboutus-bottom {
	text-shadow: 0 0 1px black;
}
.aboutus-bottom i {
	font-size: 6rem;
}
.aboutus-bottom h3 {
	margin-bottom: 2rem;
	font-size: 3rem;
}

/* offer */

.offer-hero {
	background-image: url("../img/offer/offer-hero.jpg");
	background-position-y: 70%;
}
.offer-hero-box {
	position: relative;
	height: 300px;
    background-size: cover;
    z-index: 0;
}
.offer-hero-box p {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 5px 10px black;
    color: #fff;
}
.offer-hero-box.box-one{
    background-image: url('../img/offer/offer-nail-gel.jpg');
}
.offer-hero-box.box-two{
    background-image: url('../img/offer/offer-nail-hybrid.jpg');
}
.offer-hero-box.box-three{
    background-image: url('../img/offer/offer-nail-decorations.jpg');
}
.offer-hero-box.box-four{
    background-image: url('../img/offer/offer-nail-manicure.jpg');
}
.offer-hero-box.box-five{
    background-image: url('../img/offer/offer-nail-pedicure.jpg');
}
.offer-hero-box.box-six{
    background-image: url('../img/offer/offer-nail-lashes.jpg');
}
.offer-contact{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
.offer-contact:hover{
    color: rgba(235, 179, 210, 255);
}
.icon-contact{
    padding: 20px;
    font-size: 4rem;
}
.icon-contact.bi-instagram{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* gallery */

.gallery-hero{
    background-image: url('../img/gallery/gallery-hero.jpg');
    background-position-y: 22%;
}

.gallery .btn{
	margin-right: 100px;
	margin-bottom: 15px;
	left: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.gallery img{
    height: 300px;
}

.gallery .card-body{
	position: relative;
	height: 200px;
}

.gallery .card-text{
	position: absolute;
	bottom: 0;

}

/* contact */

.contact-hero{
	background-image: url('../img/contact/hero-contact.jpg');
	background-position: center;
}

.contact h2{
	font-size: 2.6rem;
	font-weight: bold;
	text-transform: uppercase;
}

.contact-logo{
	font-size: 3rem;
}

.contact input, .contact select, .contact textarea{
	font-size: 2rem;
}

.contact .btn{
	font-size: 2rem;
	padding: 0.8em 1.8em;
}

.contact-map iframe{
	width: 100%;
	min-height: 400px;
}

/* footer */

footer {
	font-size: 1.6rem;
	border-top: 1px solid black;
}

/* media RWD */

@media (min-width: 400px) {
	nav img {
		height: 9rem;
		width: 9rem;
	}
	.navbar-brand {
		font-size: 2rem;
	}
	.navbar-toggler {
		font-size: 1.3rem;
	}
	.aboutus-top .brand-text {
		font-size: 2.1rem;
	}
}

@media (min-width: 550px) {
	nav img {
		height: 12rem;
		width: 12rem;
	}
	.navbar-brand {
		font-size: 3.2rem;
	}
	.navbar-toggler {
		font-size: 2rem;
	}
	footer {
		font-size: 2rem;
	}
	.aboutus-top .brand-text {
		font-size: 2.8rem;
	}
}

@media (min-width: 700px) {
	nav img {
		height: 15rem;
		width: 15rem;
	}
	.navbar-brand {
		font-size: 3rem;
	}
	.navbar-toggler {
		font-size: 2rem;
	}

	.carousel-item {
		height: 600px;
	}
}

@media (min-width: 768px) {
	.aboutus-bottom .card {
		height: 350px;
	}
}

@media (min-width: 850px) {
	.top-hero {
		height: 300px;
	}
	.navbar-brand {
		font-size: 4rem;
	}
	.navbar-toggler {
		font-size: 3rem;
	}
	.aboutus-top .brand-text {
		font-size: 3.7rem;
	}
	.aboutus-top-text {
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.top-hero {
		height: 400px;
	}
	.nav-link {
		font-size: 1.4rem;
	}
	.aboutus-top .brand-text {
		font-size: 4.5rem;
	}
	.aboutus-info .container {
		padding: 0;
	}
	.aboutus-shadow {
		box-shadow: inset 0 5px 10px -5px black;
	}
	.aboutus-text {
		transform: skew(-20deg);
	}
	.aboutus-text-left {
		padding-right: 3em;
		text-align: right;
	}
	.aboutus-text-right {
		padding-left: 3em;
		text-align: left;
	}
	.aboutus-img {
		height: auto;
		transform: skew(-20deg);
	}
}

@media (min-width: 1100px) {
	.carousel-item {
		height: 800px;
	}
}

@media (min-width: 1200px) {
	.nav-link {
		font-size: 2.1rem;
	}
	.home-history h3 {
		font-size: 4rem;
	}
	footer {
		font-size: 2.2rem;
	}
}

@media (min-width: 1400px) {
	.top-hero {
		height: 500px;
	}
	nav img {
		height: 18rem;
		width: 18rem;
	}
	.navbar-brand {
		font-size: 5.5rem;
	}
	.carousel-item {
		height: 900px;
	}
	.carousel-img-one {
		background-image: url("../img/carousel-first-1920.jpg");
	}
	.carousel-img-two {
		background-image: url("../img/carousel-second-1920.jpg");
	}
	.carousel-img-three {
		background-image: url("../img/carousel-third-1920.jpg");
	}
	.home-section {
		height: 600px;
		background-image: url("../img/bg-1920.jpg");
	}
	.aboutus-top .brand-text {
		font-size: 5.5rem;
	}
}
