*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    background-color: #333;
}

.brand-color{
    color: rgba(235,179,210,255);
}

/* nawigacja */

nav img{
    height: 15rem;
    color: wheat;
}

.navbar-brand{
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}

.navbar-brand i{
    font-size: 4rem;
}

.navbar-toggler{
    padding: 5px 20px;
    font-size: 3rem;
}

.nav-link{
    font-size: 1.8rem;
    font-weight: bold;
}